* {
    padding: 0;
    margin: 0;
}



a,td,th{
	font-family: 'Barlow Semi Condensed' ;

}

h5, h6,h1,h2,h4,h3 {
	font-family: 'Alegreya Sans' ;

}

/* th {
    font-family: 'Pragati Narrow' ;

} */

p,input {
    font-family: 'Alegreya Sans';

}

#number-cart{
    position: relative;
}
.number-cart{
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: red;
    height: 14px;
    line-height: 12px;
    min-width: 12px;
    border-radius:5px;
    text-align: center;
    font-size: 12px;
}

    
.trtd{
    display: none;
}
.th1{
    width: 15%;
}
.th2{
    width: 55%;
}



/* site: 6LcbuN8UAAAAAFJRY_VeZdGttxY8UfFcRkPTb4VN */
/* secrete: 6LcbuN8UAAAAAG8WNPWnJpBKbCBf1bfWks1H1VC6 */

/* recaptcha2 */
/* site: 6LciJuAUAAAAAL5OnOmGJCK1FU1SpfsuyHMqw8fy */
/* secrete: 6LciJuAUAAAAAAZ5fvSNybtrjbbkC74qwLP171dS */


