* {
    padding: 0;
    margin: 0;
}



a{
	font-family: 'Barlow Semi Condensed' ;

}

h5, h6,h1,h2,h4,h3 {
	font-family: 'Pathway Gothic One' ;

}

th {
    font-family: 'Pragati Narrow' ;

}

p,td,input {
    font-family: 'Alegreya Sans';

}

#number-cart{
    position: relative;
}
.number-cart{
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: red;
    height: 14px;
    line-height: 12px;
    min-width: 12px;
    border-radius:5px;
    text-align: center;
    font-size: 12px;
}

/* .only {
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: text;
    }

@keyframes text {
        0% {
            transform: scale(1.2);
            opacity: 0;
        }
        100% {
            transform: scale(1.0);
            opacity: 1.0;
        }
    } */

    
.trtd{
    display: none;
}
.th1{
    width: 10%;
}
.th2{
    width: 50%;
}


