{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-success">Mot de passe oublié !!</h1>
    <form action="{{ path('mdp') }}" method="POST">
        <div class="form-group">
            <label for="inputEmail">Saisissez votre mail s'il vous plaît !!</label>
            <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>
        <button class="btn btn-success" type="submit">Connexion !</button>
    </form>
</div>
{% endblock %}