
<div class="dropdown-divider"></div>

<!-- <div class="container col-12"> -->
<!-- Footer -->
<footer class="page-footer font-small bg-dark text-light w-100">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Historique</h5>
          <p class="text-warning">Les meilleures marques sont disponibles : JM, Damoiseau, Neisson, mais aussi HSE, Saint James ou Bally... Quel que soit le degré d’alcool : 35°, 50°, 75°… ou le format (mignonnette, magnum ou cubis).
            Des crus exceptionnels sont proposés : si vous cherchez du rhum très vieux, hors d’âge ou même millésimé, vous êtes sur le bon site !</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">NOS RHUMS</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="text-warning" href="#!">NOS RHUMS</a>
            </li>
            <li>
              <a class="text-warning" href="#!">CHARTE DE QUALITÉ</a>
            </li>
            <li>
              <a class="text-warning" href="#!">LA COMPAGNIE DU RHUM</a>
            </li>
            <li>
              <a class="text-warning" href="#!">GARDER LE CONTACT</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CHARTE DE QUALITÉ</h5>
  
          <ul class="list-unstyled ">
            <li>
              <a class="text-warning" href="#!">NOS RHUMS</a>
            </li>
            <li>
              <a class="text-warning" href="#!">CHARTE DE QUALITÉ</a>
            </li>
            <li>
              <a class="text-warning" href="#!">LA COMPAGNIE DU RHUM</a>
            </li>
            <li>
              <a class="text-warning" href="#!">GARDER LE CONTACT</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACT</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="text-warning" href="#!">FACEBOOK</a>
            </li>
            <li>
              <a class="text-warning" href="#!">TWITTER</a>
            </li>
            <li>
              <a class="text-warning" href="#!">INSTAGRAM</a>
            </li>
            <li>
              <a class="text-warning" href="#!">YOUTUBE</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
    <!-- Call to action -->
    {% if not app.user %}
    
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Inscription gratuite</h5>
      </li>
      <li class="list-inline-item">
        <a href="{{ path('app_register') }}" class="btn btn-danger btn-rounded">S'inscrire</a>
        <a href="{{ path('app_login') }}" class="btn btn-success btn-rounded">Se connecter</a>
      </li>
    </ul>
    {% endif %}
    <!-- Call to action -->
  
    <hr>
  
    <!-- Social buttons -->
    <h4 class="text-center">Suivez-nous</h4>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="#" class="btn-floating btn-fb mx-1 text-warning">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn-floating btn-tw mx-1 text-warning">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn-floating btn-gplus mx-1 text-warning">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn-floating btn-li mx-1 text-warning">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="btn-floating btn-dribbble mx-1 text-warning">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#" class="text-warning"> rhumasug.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- </div> -->
  <!-- Footer -->