
<div class="dropdown-divider"></div>

<!-- Grid column -->
{# <div class="col-md-12 bg-dark " style="width: 100%">

    <!--Footer-->
    <footer class="page-footer deep-purple center-on-small-only pt-0">

        <!--Footer Links-->
        <div class="container">

            <!--Grid row-->
            <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

                <!--Grid column-->
                <div class="col-md-2 mb-3">
                    <h6 class="title font-bold "><a href="index.php?page=accueil" class='text-white'>About us</a></h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-2 mb-3">
                    <h6 class="title font-bold"><a href="#!" class='text-white'>Products</a></h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-2 mb-3">
                    <h6 class="title font-bold"><a href="#!" class='text-white'>Awards</a></h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-2 mb-3">
                    <h6 class="title font-bold"><a href="#!" class='text-white'>Help</a></h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-2 mb-3">
                    <h6 class="title font-bold"><a href="#!" class='text-white'>Contact</a></h6>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <hr class="rgba-white-light" style="margin: 0 15%;">

            <!--Grid row-->
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

                <!--Grid column-->
                <div class="col-md-8 col-12 mt-5">
                    <p style="line-height: 1.7rem" class='text-white'>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                        vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                        aut fugit, sed quia consequuntur.</p>

                </div>


            </div>


            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">




        </div>
        <!--/Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2020 Copyright: <a href="https://simplon.co/"> Simplon.co </a>
            </div>
        </div>
        <!--/Copyright-->

    </footer>
    <!--/Footer-->

</div> #}

<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4 text-light">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Historique</h5>
          <p>Les meilleures marques sont disponibles : JM, Damoiseau, Neisson, mais aussi HSE, Saint James ou Bally... Quel que soit le degré d’alcool : 35°, 50°, 75°… ou le format (mignonnette, magnum ou cubis).
            Des crus exceptionnels sont proposés : si vous cherchez du rhum très vieux, hors d’âge ou même millésimé, vous êtes sur le bon site !</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">NOS RHUMS</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="text-warning" href="#!">NOS RHUMS</a>
            </li>
            <li>
              <a class="text-warning" href="#!">CHARTE DE QUALITÉ</a>
            </li>
            <li>
              <a class="text-warning" href="#!">LA COMPAGNIE DU RHUM</a>
            </li>
            <li>
              <a class="text-warning" href="#!">GARDER LE CONTACT</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CHARTE DE QUALITÉ</h5>
  
          <ul class="list-unstyled ">
            <li>
              <a class="text-warning" href="#!">NOS RHUMS</a>
            </li>
            <li>
              <a class="text-warning" href="#!">CHARTE DE QUALITÉ</a>
            </li>
            <li>
              <a class="text-warning" href="#!">LA COMPAGNIE DU RHUM</a>
            </li>
            <li>
              <a class="text-warning" href="#!">GARDER LE CONTACT</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACT</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="text-warning" href="#!">FACEBOOK</a>
            </li>
            <li>
              <a class="text-warning" href="#!">TWITTER</a>
            </li>
            <li>
              <a class="text-warning" href="#!">INSTAGRAM</a>
            </li>
            <li>
              <a class="text-warning" href="#!">YOUTUBE</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
    <!-- Call to action -->
    {% if not app.user %}
    
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Inscription gratuite</h5>
      </li>
      <li class="list-inline-item">
        <a href="{{ path('app_register') }}" class="btn btn-danger btn-rounded">S'inscrire</a>
      </li>
    </ul>
    {% endif %}
    <!-- Call to action -->
  
    <hr>
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> rhumasug.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->